body{
    font-family: Arial, Helvetica, sans-serif;
    margin-top: 69px;
    background-color: #f5f5f5;
}
a{
    color: inherit;
}
a:hover{
    text-decoration: none;
}
img{
    max-width: 100%;
}
.btn-laris{
    background-color: #55BF53;
    border-color: #55BF53;
}
.btn-laris:hover,
.btn-laris:focus{
    background-color: #55B053;
    border-color: #55B053;
}
.bg-laris,
.navbar-laris,
footer{
    background-color: #55BF53;
}
.navbar-laris .navbar-brand,
.navbar-laris .navbar-toggler,
.navbar-laris .navbar-nav .nav-link{
    color: #000;
}
.navbar-laris .navbar-nav .nav-item .dropdown-menu{
    margin-top: 12px;
}
.nav-item .dropdown-menu a:hover{
    background-color: #67CC8E;
}
.navbar-laris .navbar-search{
    display:flex;
}
.navbar-laris .navbar-search .form-control{
    border:0;
    border-radius: 0;
    border-bottom:1px solid #000;
    background-color: transparent;
}
.navbar-laris .navbar-search #nav-search{
    background-color: transparent;
    border: transparent;
}

#wrapper{
    min-height: calc(100vh - (70px + 210px));
    padding: 15px 0;
}
#gambar-product{
    display: flex;
    margin: 15px auto;
}
#gambar-product .list-gambar-product{
    max-width: 25%;
    height: 100%;
    padding: 0 5px;
    
}
#gambar-product .list-gambar-product img{
    width: 100%;
    height: 100%;
    object-fit: cover;
}
#sliders{
    margin: 15px 0;
}
#sliders .carousel-item{
    height: 400px;
}
#sliders .carousel-indicators li{
    width: 10px;
    height: 10px;
    border-radius: 100%;
}
.tentang-carousel{
    width: 50%;
    margin: 15px auto;
}
.sliders{
    position: relative;
}
.sliders .sliders-text{
    position: absolute;
    bottom: 0;
    left: 0;
    text-align: center;
    width: 100%;
    padding: 15px;
    color: #fff;
    background: rgba(0,0,0,.2);
}
#unggulan .card-header{
    display: flex;
    background-color: transparent;
    border-bottom: transparent;
}
#unggulan .card-header>h4{
    margin: 0;
}
#unggulan .card-header>a{
    margin: auto 0 auto auto;
}
#category .card,
#item .card{
    margin: 15px 0;
    box-shadow: 5px 0px 40px rgba(0, 0, 0, 0.25);
}
#category .card{
    border-radius: 10px;
}
#item .card{
    border-radius: 0;
    border: 0;
}
#item a:hover{
    background-color: #000;
    color: #fff;
}
#category .card .card-images,
#item .card .card-images{
    height: 200px;
    margin-bottom: 15px;
}
#item .card .card-images{
    margin-bottom: 0;
}
#category .card .card-images>img,
#item .card .card-images>img,
.carousel-item>img{
    width: 100%;
    height: 100%;
    object-fit: cover;
    object-position: 50% 0;
}
#category .card .card-images>img{
    border-radius: 10px;
}
#item .card .card-images>img{
    border-radius: 0;
}
#category .card .card-title{
    text-align: center;
    margin: auto;
}
#category .card .card-desc{
    margin-top: 15px;
    text-align: justify;
}
#item .card .card-title{
    margin-bottom: 5px;
}
#item .card .card-desc{
    margin: 0;
}
.profile-background{
    background-color: #fff;
    padding: 15px;
}
table#form-profile{
    width: 100%;
}
table#form-profile td {
    padding: 10px 0;
}
table#form-profile td .form-group{
    margin: auto;
}
footer{
    left: 0;
    bottom: 0;
    padding: 15px;
}
footer #social{
    display: flex;
    padding: 0;
    list-style-type: none;
    margin: 0;
}
footer #social>li{
    margin: 0 5px;
}
footer #social>li>a{
    color: #fff;
    border-radius: 100%;
    padding: 4px;
}
footer #social .facebook {
    background-color: #3b5998;
}
footer #social .twitter {
    background-color: #1DA1F2;
}
footer #social .instagram {
    background: #f09433; 
    background: -moz-linear-gradient(45deg, #f09433 0%, #e6683c 25%, #dc2743 50%, #cc2366 75%, #bc1888 100%); 
    background: -webkit-linear-gradient(45deg, #f09433 0%,#e6683c 25%,#dc2743 50%,#cc2366 75%,#bc1888 100%); 
    background: linear-gradient(45deg, #f09433 0%,#e6683c 25%,#dc2743 50%,#cc2366 75%,#bc1888 100%); 
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#f09433', endColorstr='#bc1888',GradientType=1);
}